h1 { 
    color: cornflowerblue;
    text-align: center;
    font-size: 200%;
}
.Submitimg {
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    
}
h3 {
    font-size: 25px;
    color: springgreen;
    text-decoration: underline ; 
} 


